/* #space{
  padding-top: 20px;
  padding-bottom: 20px;
}

#move{
  width: 100px;
  height: 100px;
  background-image: co.gif;
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0%   {top: 0px; left: 0px; background-image: co.gif;}
  25%  {top: 0px; left: 100px; background-image: co.gif;}
  50%  {top: 100px; left: 100px;background-image: co.gif;}
  75%  {top: 100px; left: 0px; background-image: co.gif;}
  100% {top: 0px; left: 0px; background-image: co.gif;}
}
} */
body{
  /* .hero-image {
    background-image: url("co1.jpeg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */
/* background-image:url("im.jpeg");
background-repeat: no-repeat;
background-size: cover; */
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 200%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
#para {
  animation-duration: 3s;
  animation-name: slidein;
  padding-top:15px;
  font-family: Comic Sans MS;
  font-weight:500;
  font-size: 20px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
#move,#div3,#para,#move1,#div1,#move2,#div2,#move3,#div4
{
  display:none;
}
