<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.edutab">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="pdftron_license_key"
            android:value="${pdftronLicenseKey}"/>

        <activity android:name="com.pdftron.pdf.controls.DocumentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/PDFTronAppTheme"/>

        <activity
            android:name=".PdftronMainActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".notepad.activities.home.HomeActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.nbu" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notepad.activities.editfolders.EditFoldersActivity"
            android:label="Edit Folders"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.WhiteBackground"></activity>
        <activity
            android:name=".intro1"
            android:configChanges="orientation"
            android:label="Introduction"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".notepad.activities.note.NoteActivity"
            android:label="Note Activity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateUnchanged"></activity>
        <activity
            android:name=".notepad.activities.DebugActivity"
            android:label="Debug Activity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.WhiteBackground"></activity>
        <activity
            android:name=".notepad.activities.note.DrawingActivity"
            android:label="Drawing Activity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".notepad.activities.addtofolders.AddToFoldersActivity"
            android:label="Edit Folders"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.WhiteBackground"></activity>
        <activity
            android:name=".CamaraIntentActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_gallery"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_calculator"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_play_video"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_practice_questions"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dictionary_activity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_video"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_pdf"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_action"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_subjects_lists"
            android:configChanges="orientation"
            android:icon="@color/colorAccent3"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.nbu" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_practice_quiz"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_chapters_list"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_main_splash"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyAdmin"
            android:description="@string/action_settings"
            android:label="@string/action_settings"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/my_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>